<nav>
  <div class="navbar">
    <li><a href="{{ path('app_index') }}">WildSeries</a></li>
    <li><a href="{{ path('app_index') }}">Home</a></li>
    <li><a class="nav-li" href="{{ path('category_index') }}">Categories</a></li>
    <li><a class="nav-li" href="{{ path('program_index') }}">Series</a></li>

    {% if app.user %}
      <li><a class="nav-li" href="{{ path('app_logout') }}">Deconnexion ({{ app.user.email }})</a></li>
    {% else %}
      <li><a class="nav-li" href="{{ path('login') }}">Se connecter</a></li>
    {% endif %}


  </div>
</nav>
